.container {
  padding-inline: 20px;
  width: 85%;
  margin-inline: auto;
  position: relative;
  margin-inline: 0 !important;
}

.nextBtn,
.prevBtn {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainWrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  padding-inline: 20px;
  @media (max-width: 768px) {
    padding-inline: 0;
  }
}
