:root {
  --card-container-padding: 20px;
}

.container {
  padding: var(--card-container-padding);
  border: 2px solid #000;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  width: 100%;
  div[datatype="image-container"] {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1350px) {
  :root {
    --card-container-padding: 10px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  gap: 15px;
  font-size: 20px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-weight: 400;
}

.green {
  color: #008600;
}

.favBtn,
.deleteBtn,
.editBtn {
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.btns {
  position: absolute;
  bottom: var(--card-container-padding);
  right: var(--card-container-padding);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.onlyMyBtns {
  display: flex;
  gap: 10px;
}

.card {
  position: relative;
}
