.layoutContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow-y: hidden;
  position: relative;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.listings {
  padding-left: 30px;
  @media (max-width: 768px) {
    width: 100%;
    padding-inline: 20vw;
  }
  @media (max-width: 540px) {
    padding-inline: 10vw;
  }
  @media (max-width: 400px) {
    padding-inline: 1vw;
  }
  padding-bottom: 100px;
  overflow-y: scroll;
  h3 {
    font-size: 32px;
    margin: 50px 0 50px 10px;
  }
}

.menuButton {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  font-size: 24px;
  left: 20px;
  top: 20px;
  @media(max-width: 540px) {
    left: unset;
    right: 20px;
  }
}

.listingsSearch {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
