.container {
  padding-block: 35px;
  width: 60%;
  margin-inline: auto;
  align-items: center;

  @media (max-width: 1080px) {
    width: 75%;
  }
  @media (max-width: 768px) {
    width: 90%;
  }
}

.title {
  font-size: 32px;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .infoWrapper {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: end;
    .infoItem {
      text-align: right;
      b {
        font-size: 24px;
      }
      font-size: 18px;
      @media (max-width: 1330px) {
        b {
          font-size: 18px;
        }
        font-size: 16px;
      }
    }
    @media (max-width: 680px) {
      grid-column-start: 1;
      grid-row-start: 3;
      text-align: center;
      align-items: center;
    }
  }
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .footer {
    margin-top: 50px;
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
    text-wrap: wrap;
    font-size: 24px;
    height: fit-content;
    @media (max-width: 1280px) {
      font-size: 18px;
      margin-top: 20px;
    }
    @media (max-width: 680px) {
      grid-column: unset;
      grid-column-start: 1;
      grid-row-start: 2;
      text-align: center;
    }
  }
  div[datatype="image-container"] {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 30vw;
    height: auto;
    @media (max-width: 768px) {
      height: 100%;
      width: unset;
    }
    @media (max-width: 680px) {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1280px) {
    gap: 25px;
  }
}

.mainWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 30px 50px;
  @media (max-width: 600px) {
    padding: 15px 20px;
  }
  margin-inline: auto;
  gap: 25px;
  border: 2px solid #000;
}

.green {
  color: #008600;
}
