.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  .header {
    display: flex;
    align-items: start;
    gap: 15px;
    flex-direction: column;
  }
}

.listings {
  width: 100%;
  height: 100%;
}