.container {
  max-width: 540px;
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 30px;
  .form {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 20px;
    padding-right: 10px;
    &:focus-visible {
      outline: none;
    }
  }
  .button {
    padding-inline: 12px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}
