.container {
  width: 330px;
  height: 330px;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1;
  height: 100%;
  border: 2px solid #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after,
  &::before {
    content: ".";
    color: transparent;
    display: block;
    height: 150%;
    background: #5c5c5e;
    width: 4.5px;
    z-index: 100;
  }
  &::after {
    rotate: 45deg;
  }
  &::before {
    rotate: 135deg;
  }
}

.img {
  width: 100%;
  height: 100%;
  offset-position: 50% 50%;
  object-fit: cover;
}
